* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(107, 106, 106);
}

.calculator {
    width: 400px;
    height: 450px;
    border: 1px #000000 solid;
    display: grid;
    padding: 0.5em;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.4em;
    background-color: #292D3E;
}

.screen {
    width: 350px;
    height: 50px;
    padding: 0.3em;
    border: 1px #000000 solid;
    border-radius: 8px;
    background-color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1.5em auto 0 auto;
    grid-column: 1/-1;
}

.clear {
    grid-column: span 2;
}

.backspace {
    grid-column: span 2;
}

.btn {
    color: #ffffff;
    box-shadow: 4px 2px 2px #000;
    background-color: rgb(41, 39, 56);
    border: none;
    font-size: 22px;
}